.night {
  color: #FFFFFF;
  background-color: #232323;
}

.day {
  color: #18181B;
  background-color: #FFFFFF;
}


.sidebar.day {
  background-color: #F3F4F6;
}

.sidebar.night {
  background-color: #18181B;
}
  
  
.sidebar.closed {
  width: 60px;
}

.sidebar.closed .sidebar-link-text {
  display: none; 
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-top: 10px;
  background-color: transparent;
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s;
}

.sidebar-link.active.night {
  border-radius: 8px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
  border: 1px solid rgba(255, 255, 255, 0.2);
}


.sidebar-link.active.day {
  border-radius: 8px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
}

.sidebar-options-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50;
  margin: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-top: 10px;
  background-color: transparent;
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s;
}




.sidebar {
  width: 200px;
  transition: width 0.3s ease;
}

