@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --chart-1: 0 0% 14.9%;
    --chart-2: 0 0% 25.1%;
    --chart-3: 0 0% 96.1%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}